
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html { height: 100%; }
body {
    height: 100%;
    width: 100%;
}

navpanel {
    position: fixed;
    height: 96vh;
    width: 20vw;
    padding: 1vw;
    background-color: #eee;
    overflow-y: auto;
}
module {
    display: block;
    margin-left: 22vw;
    padding: 2rem 2rem 10rem 2rem;
    background-color: #ffe;
    min-height: 100vh;
}

navpanel li {
    list-style: none;
    margin: .2rem;
    padding: .32rem;
    cursor: pointer;
}
navpanel li:hover { background-color: #fdd; }
navpanel li.current {
    background-color: #faa;
}

module headbox {
    display: block;
    text-align: center;
}
module h1 {
    display: inline-block;
    background-color: #f00;
    color: #fff;
    padding: 1rem;
    margin: .5rem .5rem 1rem .5rem;
}
module *:not(b):not(u):not(i):not(td):not(hr):not(h1) {
    padding: .32rem;
    font-size: 1.2rem;
    line-height: 2rem;
}
module li { margin-left: 2rem; }
module hr { margin-top: 2rem; }
module td { text-align: center; }
module table { border: .2rem solid #000; }
module td { padding: 1rem; }
module td.vr { border-left: .1rem solid #000; }
module button { position: fixed; bottom: 2rem; }
module button#next-module { right: 2rem; }

big { font-size: 133% !important; }



