
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html { height: 100%; }
body {
    height: 100%;
    width: 100%;
}

navpanel {
    position: fixed;
    height: 96vh;
    width: 20vw;
    padding: 1vw;
    background-color: #ccf;
    overflow-y: auto;
    z-index: 1;
}
module {
    display: block;
    margin-left: 22vw;
    padding: 2rem 2rem 6rem 2rem;
    background-color: #ddf;
    min-height: 100vh;
    position: relative;
}

navpanel li {
    list-style: none;
    padding: .32rem;
    cursor: pointer;
}
navpanel li:hover { background-color: #fdd; }
navpanel li.current { background-color: #faa; }
navpanel h3 { margin-top: .5rem; }

module headbox {
    display: block;
    text-align: center;
}
module h1 {
    display: inline-block;
    background-color: #f00;
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    margin: .5rem .5rem 2rem .5rem;
}
module p, module li, module th, module td, module button {
    margin: .32rem;
    font-size: 1.2rem;
    line-height: 2rem;
}
module li { margin-left: 2rem !important; padding-left: .5rem; }
module hr { margin-top: 2rem; }
module th, td { text-align: left; padding: .5rem; }
module table { border: .2rem solid #000; }
module td.vr { border-left: .1rem solid #000; }
module .navbtn { position: fixed; bottom: 2rem; min-width: 4rem; z-index: 2; }
module .navbtn#next-module { right: 2rem; }
module .navbtn#toggle-menu { display: none; left: 0; bottom: 0; width: 100%; }

redbar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0;
    width: 100%;
}
redbar bar {
    display: inline-block;
    height: .5rem;
    background-color: #f00;
    width: 1rem;
}

big { font-size: 133% !important; }


#mobile { display: none; }
@media only screen and (max-width: 50rem) {
    #mobile { display: block; }
    navpanel { display: none; width: 100%; padding: 1rem; }
    module { margin-left: 0; padding: 1rem 1rem 3rem 1rem; }
    module h1 { font-size: 1.5rem; padding: .5rem; margin: 1rem; }
    module p, module li, module th, module td, module button {
        margin: .32rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    module .navbtn { font-size: 1.5rem; padding: .32rem; }
    module .navbtn { margin: 0; left: 0; bottom: 0; }
    module .navbtn#toggle-menu { display: block; }
    module .navbtn#next-module { left: unset; right: 0; }
}
